* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FFD7D4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}

header {
    background-image: url('https://www.cityofmonrovia.org/Home/ShowPublishedImage/9390/637194345629530000');
    width: 100%;
}

h1 {
    color: white;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

.question {
    font-style: italic;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: #804844;
    border: none;
    border-radius: 4px;
    padding: 20px;
    margin: 0 20px;
}

input[type="radio"] {
    opacity: 0;
    height: 0;
}

label {
    color: white;
    background-color: #CC736C;
    border-radius: 4px;
    text-align: left;
    padding: 10px;
}

label:hover {
    filter: blur(1px);
    cursor: pointer;
}

button {
    color: white;
    background-color: #805350;
    border-radius: 2px;
    border: none;
    font-size: 20px;
    padding: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #87FFB9;
}

.score {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    margin-right: 20px;
}

section {
    background-color: #CC736C;
    padding: 20px;
    font-style: normal;
    margin-bottom: 20px;
}

aside {
    padding: 20px;
    font-size: 18px;
    margin: 10px 20%;
}

.final-score {
    font-size: 20px;
    font-weight: bold;
}

.final-aside {
    font-style: italic;
}

input[type="radio"]:checked + label {
    background-color: #F7FFBA;
    color: black;
}

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (min-width: 600px) {
    form {
        width: 600px;
        display: inline-block;
    }
}